**/.serverless
**/.vscode

**/logs/

**/node_modules
**/package-lock.json
test***
**/dist/*
**/.build/*
pollx/graphql-server/src/sentry.ts

pollx/**/newrelic_agent.log

**/deeplake
**/__pycache__
**/.DS_Store
**/eCPI